<!DOCTYPE html>
<html lang="en">
<head>
    <a></a>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Add new Task</title>
</head>
<body>
<header class="main-header">
    <a href="tasks-dashboard.html" class="main-header-logo"></a>
    <div class="main-header-wrapper">
        <label class="main-header-search-wrapper">
            <input type="search" class="main-header-search" placeholder="Search">
            <img src="img/search-icon.svg" alt="Search Icon">
        </label>
        <div class="main-header-profile-wrapper">
            <div class="main-header-profile-credentials">
                <span class="main-header-profile-welcome">Welcome,</span>
                <span class="main-header-username">Sample User</span>
            </div>
            <img class="main-header-user-icon" src="img/user-icon-with-background.svg" alt="User Icon">
            <div class="hidden-accordion-wrapper">
                <ul class="hidden-accordion">
                    <li class="hidden-accordion-item"><a href="tasks-archive.html"
                                                         class="hidden-accordion-item-link"><img
                            class="hidden-accordion-item-image" src="img/archive-icon.svg" alt="User Icon">Archive</a>
                    </li>
                    <li class="hidden-accordion-item"><a href="tasks-dashboard.html" class="hidden-accordion-item-link"><img
                            class="hidden-accordion-item-image" src="img/favourite-icon.svg" alt="Favourite Icon">My
                        tasks</a></li>
                    <li class="hidden-accordion-item"><a href="login.html" class="hidden-accordion-item-link"><img
                            class="hidden-accordion-item-image" src="img/log-out-icon.svg" alt="Log Out Icon">Log
                        Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="add-task">
    <div class="container">
        <div class="tasks-caption">
            <h2 class="tasks-caption-title">Add new Task</h2>
            <div class="tasks-caption-actions">
                <form class="task-card-right-col">
                    <button class="btn btn-dark btn-add-task">Add task</button>
                </form>
            </div>
        </div>

        <form action="/addtask" method="post" class="add-task-form" id="add-task-form">
            <div class="task-card">
                <div class="task-card-left-col">
                    <div class="task-card-img _2"></div>
                    <div class="task-card-form">
                        <div class="task-card-form-row">
                            <label class="task-card-label">Deadline to:</label>
                            <input name="deadline" type="date" placeholder="2020-06-30" class="task-card-input">
                        </div>
                        <div class="task-card-form-row">
                            <label class="task-card-label">Name Task</label>
                            <input name="taskName" type="text" placeholder="Task 002" class="task-card-input">
                        </div>
                    </div>
                </div>

                <div class="task-card-right-col">
                    <h1 class="task-card-header">Task Description</h1>
                    <p class="task-card-text">
                    <div class="task-card-form-row">
                        <label class="task-card-label"></label>
                        <textarea name="taskText" type="text" class="text-card-input"
                                  placeholder="Write your text here..."></textarea>
                    </div>
                    </p>
                    <input type="hidden" th:value="${token}" id="token" />
                    <button type="button" onclick="submitForm()" class="btn btn-dark">Create task</button>
                    <button type="button" class="btn btn-dark">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>

<script>

    function submitForm() {
        var taskName = document.getElementsByName("taskName")[0].value;
        var deadline = document.getElementsByName("deadline")[0].value;
        var taskText = document.getElementsByName("taskText")[0].value;

        if (taskName.trim() === "") {
            alert("Name Task field cannot be empty!");
            return;
        }
        if (deadline.trim() === "") {
            alert("Dedline field cannot be empty!");
            return;
        }
        if (taskText.trim() === "") {
            alert("Task Description field cannot be empty!");
            return;
        }
        var token = document.getElementById("token").value;

        localStorage.setItem('token', token);

        var token = localStorage.getItem('token');

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/addtask", true);

        xhr.setRequestHeader("Authorization", "Bearer " + token);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        var formData = new FormData(document.getElementById("add-task-form"));

        xhr.send(new URLSearchParams(formData));

        xhr.onload = function () {
            if (xhr.status === 200) {
                console.log("Başarıyla gönderildi.");
                // window.location.href = "tasksdashboard";
            } else {
                console.error("Hata oluştu.");
            }
        };
    }
</script>
</body>
</html>