<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Tapşırıq Paneli</title>
    <style>
        /* Modal üçün stili */
        .modalt {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            padding-top: 60px;
        }

        .modalt-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .closet {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        /* Modal açıq olduğunda sürüşməni gizlətmək üçün stil */
        body.modal-open {
            overflow: hidden;
        }
    </style>
</head>
<body>

<header class="main-header">
    <a href="./tasks-dashboard.html" class="main-header-logo"></a>
    <div class="main-header-wrapper">
        <label class="main-header-search-wrapper">
            <input type="search" class="main-header-search" placeholder="Axtar">
            <img src="/img/search-icon.svg" alt="Axtarış Nişanı">
        </label>
        <div class="main-header-profile-wrapper">
            <div class="main-header-profile-credentials">
                <span class="main-header-profile-welcome">Xoş gəldiniz,</span>
                <span class="main-header-username">Nümunə İstifadəçi</span>
            </div>
            <img class="main-header-user-icon" src="/img/user-icon-with-background.svg" alt="İstifadəçi Nişanı">
            <div class="hidden-accordion-wrapper">
                <ul class="hidden-accordion">
                    <li class="hidden-accordion-item"><a href="./tasks-archive.html" class="hidden-accordion-item-link"><img
                            class="hidden-accordion-item-image" src="./img/archive-icon.svg" alt="İstifadəçi Nişanı">Arxiv</a>
                    </li>
                    <li class="hidden-accordion-item"><a href="./tasks-dashboard.html"
                                                         class="hidden-accordion-item-link"><img
                            class="hidden-accordion-item-image" src="./img/favourite-icon.svg" alt="Sevimli Nişan">Mənim Tapşırıqlarım</a></li>
                    <li class="hidden-accordion-item"><a href="./login.html" class="hidden-accordion-item-link"><img
                            class="hidden-accordion-item-image" src="./img/log-out-icon.svg" alt="Çıxış Nişanı">Çıxış</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="tasks">
    <div class="container">
        <div class="tasks-caption">
            <h2 class="tasks-caption-title">Panel</h2>
            <div class="tasks-caption-actions">
                <form class="tasks-filter" action="" id="sort-tasks">
                    <label class="tasks-filter-label">Sırala</label>
                    <select class="tasks-filter-list" name="task-type" id="">
                        <option class="tasks-filter-item" value="silinmiş">Silinmiş</option>
                        <option class="tasks-filter-item" value="keçik">Keçik</option>
                        <option class="tasks-filter-item" value="bugün">Bu gün</option>
                        <option class="tasks-filter-item" value="tamam">Tamamlandı</option>
                    </select>
                </form>
                <form>
                    <button type="button" onclick="location.href='/addtask'" class="btn btn-dark btn-add-task">Tapşırıq əlavə et</button>
                </form>
            </div>
        </div>

        <div id="tasksList" class="tasks-list">
            <div th:each="task : ${tasks}" class="task" onclick="showTaskDetails(this)">
                <h4 class="task-titlet" th:text="${task.taskName}"></h4>
                <p class="task-deadlinet">
                    Bitmə tarixinə: <span class="task-deadline-datet"
                                          th:text="${#dates.format(task.deadline, 'dd.MM.yyyy')}"></span>
                </p>
                <br>
                <p class="task-description" th:text="${task.taskText}"></p>
                <div class="task-icons">
                    <img class="task-icons-item" src="/img/bell.png" alt="Zəng Nişanı">
                    <img class="task-icons-item" src="/img/trash-bin.png" alt="Çöp Qutusu Nişanı">
                </div>
                <a href="#" class="task-btn">Tamamla</a>
            </div>
        </div>
    </div>
</section>

<div id="taskDetailsModal" class="modalt">
    <div class="modalt-content">
        <span class="closet" onclick="closeModal()">&times;</span>
        <div class="task-card-section">
            <h3 class="task-card-title" id="taskDetailTitle">Tapşırıq 002</h3>
            <div class="task-card">
                <div class="task-card-left-col">
                    <div class="task-card-img _1"></div>
                    <div class="task-card-form">
                        <div class="task-card-form-row">
                            <label class="task-card-label">Bitmə tarixinə:</label>
                            <input name="task-card-date" type="date" id="taskDetailDate" class="task-card-input">
                        </div>
                        <div class="task-card-form-row">
                            <label class="task-card-label">Tapşırıq Adı</label>
                            <input name="name-task" type="text" id="taskDetailName" class="task-card-input"
                                   placeholder="Tapşırıq 002" disabled>
                        </div>
                    </div>
                    <div class="task-card-actions">
                        <a href="#" class="task-card-actions-item">
                            <img src="/img/arrow.png" alt="" class="task-card-actions-icon">
                            Paylaş
                        </a>
                        <a href="#" class="task-card-actions-item">
                            <img src="/img/bell.png" alt="" class="task-card-actions-icon">
                            Əhəmiyyətli olanlara əlavə et
                        </a>
                        <a href="#" class="task-card-actions-item">
                            <img src="/img/trash-bin.png" alt="" class="task-card-actions-icon">
                            Sil
                        </a>
                    </div>
                </div>
                <div class="task-card-right-col">
                    <h4 class="task-card-header">Tapşırıq Təsviri</h4>
                    <p class="task-card-text" id="taskDetailText">
                    </p>
                    <a href="#" class="btn btn-dark btn-task-card">Yadda Saxla</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tasks = document.querySelectorAll('.task');

        tasks.forEach(function (task) {
            task.addEventListener('click', function () {
                var taskTitle = task.querySelector('.task-titlet').textContent;
                var taskDeadline = task.querySelector('.task-deadlinet').textContent;
                var taskDescription = task.querySelector('.task-description').textContent;

                showTaskDetails(taskTitle, taskDeadline, taskDescription);
            });
        });
    });

    function showTaskDetails(taskTitle, taskDeadline, taskDescription) {
        var modal = document.getElementById('taskDetailsModal');

        var modalTitle = modal.querySelector('#taskDetailTitle');
        var modalDeadline = modal.querySelector('#taskDetailDate');
        var modalName = modal.querySelector('#taskDetailName');
        var modalText = modal.querySelector('#taskDetailText');

        modalTitle.textContent = taskTitle;
        modalDeadline.value = '';  // Əgər mövcuddursa, müddəti qeyd edə bilərsiniz.
        modalName.value = taskTitle;
        modalText.textContent = taskDescription;

        modal.style.display = 'block';

        window.onclick = function (event) {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        };
        document.body.classList.add('modal-open');
    }

    function closeModal() {
        var modal = document.getElementById('taskDetailsModal');
        modal.style.display = 'none';

        document.body.classList.remove('modal-open');
    }
</script>

</body>
</html>
